// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6,
aside * {
  @apply font-heading;
}

pre *,
[data-ch-theme] * {
  @apply font-mono;
  font-size: 0.875rem;
  @apply font-semibold;
}

code {
  @apply font-mono;
}

a:focus-visible {
  @apply ring-0 ring-offset-0 shadow-none #{!important};
}

// Nextra
article {
  // p, li {
  //   @apply text-sm;
  // }

  img {
    @apply mx-auto w-full rounded object-cover;
  }
}

.contains-task-list {
  @apply mt-4;
}

.nextra-bleed {
  @apply mx-auto;
}

.nextra-callout {
  @apply items-center text-sm py-2;

  div {
    @apply space-y-0 #{!important};
  }

  ul > li {
    @apply my-0;
  }

  p {
    @apply leading-6;
  }
}

.nx-text-primary {
  &-600 {
    @apply text-emerald-600;

    &:hover {
      @apply text-emerald-700 #{!important};
    }
  }

  &-800 {
    @apply text-emerald-800;
  }
}

.hover\:nx-text-primary-600:hover {
  @apply text-emerald-600;
}

.nx-bg-primary-100 {
  @apply bg-emerald-100;
}

// Codehike
.ch-codeblock .ch-code-button {
  display: none;
}

.ch-codeblock:hover .ch-code-button {
  display: block;
}
